@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Open+Sans');

@media only screen and (max-width: 1023px) {
	
#container {
	margin: 0 5%;
	
	#frontmatter {
		text-align: center;
		
		
		padding-bottom: 1.5em;
		margin-bottom: 2em;
		border-bottom: 1px solid #aaa;
		
		img {
				width: 50%;
		}
		
		#front-text {
			margin-top: 1em;
			
			font-family: "Coming Soon", cursive;
			font-size: 1.5em;
			
			#opening-hours {
				margin-top: 0.5em;
			}
			
			h1 {
				text-transform: uppercase;
			}
		}
	}
	
	#mainmatter {
		border-bottom: 1px solid #aaa;
		margin-bottom: 1em;
		
		width: 85%;
		margin: auto;
		
		img {
			display: block;
			width: 100%;
			margin-bottom: 10vw;
		}
	}
	
	#backmatter {
		text-align: center;
		section {
			margin-bottom: 1.5em;
			
			font-size: 2em;
			
			h2 {
				margin-bottom: 0.3em;
				font-family: "Coming Soon", cursive;
			}
			
			a {
				color: rgb(85, 115, 41);
				text-decoration: none;
			}
		}
		
		#copyright {
			font-size: small;
			color: #888;
		}
	}
}

}

@media only screen and (min-width: 1024px) {
	* {
		display: none;
	}
}

body {
	font-family: "Open Sans", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}