/* CSS rules specific to homecorn.html */

.homecorn-yellow
{
  color: rgb(210, 226, 0);
  transition: color 0.5s;
}

.homecorn-yellow:hover
{
  color: rgb(180, 200, 0);
}

.proper-noun
{
  font-size: 1.25em;
  text-transform: capitalize;
  white-space: nowrap;
}

/* SECTION txt-img-vsplit */
.txt-img-vsplit
{
  width: 100%;
}

.txt-vsplit
{
  width: 50%;
  float: left;
  
  padding-right: 1em;
  margin-bottom: 2em;
}

.img-vsplit
{
  width: 50%;
  float: right;
  
  padding-left: 1em;
}

.img-vsplit img
{
  width: 100%;
}
/* END SECTION txt-img-vsplit */