/* Main CSS */

/* Fonts:
 * Open Sans: Steve Matteson (https://fonts.google.com/specimen/Open+Sans)
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
{
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

#container
{
  width: 60%;
  margin: auto;
}

#heading {
  border-bottom: 1px solid #bbb;
  padding: 0;
}

#main {
  padding: 1em 0;
  border-bottom: 1px solid #bbb;
}

#abstract {
  font-size: 17px;
  margin: 0 3em;
}

#footer {
  text-align: center;
  
  padding: 1em 0;
}

/* SECTION "banner-container"
 * Use "banner-container" class for images */
.banner-container {
  width: 100%;
  margin: auto;
}

.banner-container img
{
  width: 100%;
}
/* END SECTION "banner-container" */

.character-footnotes
{
  width: 100%;
  
  font-size: small;
  text-align: right;
}

.plus-list
{
  list-style: "+ ";
  margin: 0;
}

.minus-list
{
  list-style: "- ";
  margin: 0;
}

#logo
{
  width: 40%;
  margin: auto;
  
  position: relative;
  top: 7px;
}

#logo img
{
  width: 100%;
}

#cc-license {
  font-size: small;
  margin-top: 2em;
}

.thai-content {
  margin-top: 4em;
}

*
{
  box-sizing: border-box;
}